openapi: 3.1.0
info:
  title: APK Apps İstemci API
  version: 1.0.0
servers:
  - url: https://apk.habersoft.com
paths:
  /api/v1/applications/{packageName}/channels/{channel}/update-check:
    get:
      summary: Android uygulaması için kullanılabilir güncelleme olup olmadığını kontrol eder.
      parameters:
        - name: packageName
          in: path
          required: true
          schema:
            type: string
            example: com.habersoft.player
        - name: channel
          in: path
          required: true
          schema:
            type: string
            enum: [stable, beta, internal]
        - name: current_version_code
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Güncelleme kararı.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum: [UPDATE_AVAILABLE, UP_TO_DATE, CLIENT_AHEAD, NO_RELEASE]
                      package_name:
                        type: string
                      channel:
                        type: string
                      current_version_code:
                        type: integer
                      published_version_code:
                        type: integer
                      required:
                        type: boolean
                      release:
                        type: object
                        properties:
                          id:
                            type: string
                          version_code:
                            type: integer
                          version_name:
                            type: string
                          release_notes:
                            type: string
                          sha256:
                            type: string
                          size_bytes:
                            type: integer
                          download_url:
                            type: string
                            format: uri
                  meta:
                    type: object
        "404":
          description: Uygulama bulunamadı.
        "422":
          description: Kanal veya sorgu geçersiz.
  /api/v1/artifacts/{releaseId}/download:
    get:
      summary: Yayınlanmış APK çıktı dosyasını indirir.
      parameters:
        - name: releaseId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: APK binary içeriği.
          headers:
            X-APK-SHA256:
              schema:
                type: string
            X-APK-Size:
              schema:
                type: string
          content:
            application/vnd.android.package-archive:
              schema:
                type: string
                format: binary
        "404":
          description: Sürüm yayınlanmamış veya mevcut değil.
        "500":
          description: Çıktı metadata mevcut ancak dosya erişilebilir değil.
